<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">数値入力</h2>
      <%= form_with model: @economy, local: true do |f| %>

        <div class="field">
          <%= f.label :mileage, "走行距離" %><br />
          <%= f.text_field :mileage, id:"mileage_field" %> km
        </div>

        <div class="field">
          <%= f.label :amount, "給油量" %><br />
          <%= f.text_field :amount, id:"amount_field" %> ℓ
        </div>

        <div class="actions">
          <%= f.submit "計算する", class: :form__btn  %>
        </div>

      <% end %>
    </div>
  </div>
</div>
